<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<p>
			Enter a new password to complete your password reset.
		</p>
		<ol>
			<li>
				<%= f.label :password, "New password" %>
				<%= f.password_field :password %>
			</li>
			<li>
				<%= f.label :password_confirmation, "Verify your new password" %>
				<%= f.password_field :password_confirmation %>
			</li>
			<li class="submit">
				<%= f.submit "Reset my password &raquo;", :class => "submit" %>
			</li>
		</ol>
	</fieldset>
<% end %>