<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title><%= title %></title>
		
		<%= stylesheet_link_tag 'reset', 'rails_errors', 'styles' %>
		<%= google_jquery %>
		<%= auth_token %>
		<%= yield :head %>
		
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body class="<%= body_class %>">
		
		<div id="page_wrap">
			<%= flash_helper %>
			<%= yield %>
		</div>
		
		<%= render :partial => "shared/google_analytics" %>
		
	</body>
</html>